.author {
    position: absolute;
    right: 1vw;
    top: 1vh;
    font-size: 24px;
    color: white;

    font-family: var(--author-font-family);
    font-style: var(--author-font-style);
}

.author-link {
    color: #08f;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}
