:root {
    --rotate-x: 0deg;
    --rotate-y: 0deg;
    --rotate-z: 0deg;
    --irony-position-initial: -60vw;
    --irony-position-visible: 0;
    --irony-position: var(--irony-position-initial);
}

.ironies {
    position: absolute;
    right: 2vw;
    top: 0;
    bottom: 0;
    width: 40vw;
    max-width: 700px;
    pointer-events: none;
    z-index: 100;
}

.irony {
    pointer-events: initial;
    position: absolute;
    transform-style: flat;
    transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y)) translateY(-50%);
    top: 50%;
    right: var(--irony-position);
    width: 100%;
    background: #fff8;
    padding: 2vmin;
    border-radius: 3vmin;
    backdrop-filter: blur(3px);
    border: 10px solid #fff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    transition: right 0.5s;
    min-height: 50vh;
    max-height: 70vh;
    overflow: auto;

    blockquote {
        font-family: var(--lyric-font-family);
        font-weight: var(--lyric-font-weight);
        font-style: var(--lyric-font-style);
        font-size: var(--lyric-font-size);
        margin: 0 0 40px 0;
        padding: 30px 40px 30px 60px;
        border-radius: 10px;
        position: relative;

        &:before {
            position: absolute;
            left: 5px;
            top: 5px;
            display: block;
            content: '';
            background-image: url("/assets/images/music-quote/music-quote.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 30px;
            aspect-ratio: 1;
        }

        &:after {
            position: absolute;
            right: 5px;
            bottom: 5px;
            display: block;
            content: '';
            background-image: url("/assets/images/music-quote/music-quote.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 30px;
            aspect-ratio: 1;
            transform: rotate(180deg);
        }
    }

    p, h1 {
        font-family: var(--details-font-family);
        font-weight: var(--details-font-weight);
        font-style: var(--details-font-style);
    }

    h1 {
        font-size: 36px;
    }

    p {
        font-size: var(--details-font-size);

        strong {
            text-decoration: underline;
        }
    }
}

.sr-only {
    position: absolute;
    top: -100vh;
}

.irony--ironic,
.irony--not-ironic {
    h1 {
        position: relative;
        left: 50%;
        width: 0;
        overflow: visible;
        margin-top: 0;
        margin-bottom: 10px;

        &:before {
            display: inline-block;
            content: '';
            width: 10vw;
            min-width: 60px;
            max-width: 100px;
            aspect-ratio: 1;
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 10px;
            transform: translateX(-50%);
        }
    }
}

.irony--ironic {
    h1 {
        &:before {
            background-image: url("/assets/images/symbols/ironic.svg");
        }
    }
}

.irony--not-ironic {
    h1 {
        &:before {
            background-image: url("/assets/images/symbols/unironic.svg");
        }
    }
}

@media (max-width: 600px) {
    .ironies {
        left: 2vw;
        right: 2vw;
        width: initial;
        max-width: initial;
        top: 50%;
        bottom: 5vw;
    }

    .irony {
        --irony-position-initial: -110vw;
        --irony-position: var(--irony-position-initial);
        min-height: initial;
        max-height: 100%;
        transform: rotateX(calc(var(--rotate-x) / 2)) rotateY(calc(var(--rotate-y) / 2)) translateY(-50%);
    }
}

@media (max-width: 800px) {
    .irony {
        backdrop-filter: initial;
    }
}
