:root {
    --rotate-x: 0deg;
    --rotate-y: 0deg;
    --rotate-z: 0deg;
    --irony-display: none;
}

.ironies {
    position: absolute;
    right: 2vw;
    top: 0;
    bottom: 0;
    width: 50vw;
    max-width: 600px;
}

.irony {
    position: absolute;
    transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y)) rotateZ(var(--rotate-z)) translateY(-50%);
    top: 50%;
    right: 0;
    width: 100%;
    aspect-ratio: 4 / 3;
    background: #fff8;
    padding: 2vmin;
    border-radius: 3vmin;
    backdrop-filter: blur(3vmin);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.1s;
    max-height: 90vh;
    overflow: auto;
    display: var(--irony-display);
}
