:root {
    --rotate-x: 0deg;
    --rotate-y: 0deg;
    --rotate-z: 0deg;
    --irony-display: none;
}

.ironies {
    position: absolute;
    right: 2vw;
    top: 0;
    bottom: 0;
    width: 40vw;
    max-width: 600px;
    pointer-events: none;
}

.irony {
    pointer-events: initial;
    position: absolute;
    transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y)) rotateZ(var(--rotate-z)) translateY(-50%);
    top: 50%;
    right: 0;
    width: 100%;
    background: #fff8;
    padding: 2vmin;
    border-radius: 3vmin;
    backdrop-filter: blur(3vmin);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.1s;
    min-height: 40vh;
    max-height: 90vh;
    overflow: auto;
    display: var(--irony-display);

    h1 {
        font-size: 26px;
    }
}

.irony--ironic,
.irony--not-ironic {
    h1 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        &:before {
            display: inline-block;
            content: '';
            width: 100px;
            aspect-ratio: 1;
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 10px;
        }
        &:after {
            display: inline;
            margin-left: .75ch;
        }
    }
}

.irony--ironic {
    h1 {
        &:before {
            background-image: url("/assets/images/symbols/ironic.webp");
        }
        &:after {
            content: ' (Ironic)';
        }
    }
}

.irony--not-ironic {
    h1 {
        &:before {
            background-image: url("/assets/images/symbols/unironic.webp");
        }
        &:after {
            content: ' (Not Ironic)';
        }
    }
}
