@import url("author.css");
@import url("ironies.css");
@import url("fonts.css");

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

video {
  position: absolute;
  left: -100vw;
  top: 0;
  width: 10px;
  height: 10px;
}

canvas {
  width: 100vw;
  height: 100vh;
}
