*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #0ff;
  position: relative;
  margin: 0;
  padding: 0;

  &.playing {
    button {
      display: none;
    }
  }
}

video {
  position: absolute;
  left: -100vw;
  top: 0;
  width: 10px;
  height: 10px;
}

canvas {
  width: 100vw;
  height: 100vh;
}

button {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 20vmin;
  font-weight: bold;
}
